<h2>Login to your account:</h2>
<form id="formLogin" action="#/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter your Email">
    <div id="usernameValidation" class="text-danger"></div>
    <label>Password:</label>
    <input type="password" name="pass" placeholder="Enter your Password">
    <div id="passValidation" class="text-danger"></div>
    <input type="submit" class="login" value="Login">
</form>

<script>
    $(function () {
        $('#formRegister').on('submit', function (ev) {
            var isValid = true;
            $('.text-danger').text('');
            if ($('input[name="username"]').val().length < 5) {
                isValid = false;
                $('#usernameValidation').text('Field is required and must be at least 5 symbols!');
            }
            if ($('input[name="pass"]').val().length == 0) {
                isValid = false;
                $('#passValidation').text('Field is required!');
            });

        if (!isValid) {
            ev.preventDefault();
            ev.stopPropagation();
        }
</script>