<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li href="#">Item</li>
        <li href="#">Item</li>
        <li href="#">Item</li>
        <li href="#">Item</li>
        <li href="#">Item</li>
      </ul>
    </nav>
  </header>
  {{{body}}}
  <footer>
    <nav>
      <ul>
        <li href="#">Item</li>
        <li href="#">Item</li>
        <li href="#">Item</li>
        <li href="#">Item</li>
        <li href="#">Item</li>
      </ul>
    </nav>
  </footer>
</body>

</html>